.render-tomorrow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.render-tomorrow .date {
   margin-bottom: 5px;
   
   background-color: rgba(240, 240, 240, 1);
   box-shadow: 0px 0px 1px 0px;
   
}

.render-tomorrow .values img {
    width: 17px;
}

.render-tomorrow .values {
    display: flex;
}

.render-tomorrow .iconsAndData {
    display: flex;
}

.render-tomorrow .time {
    margin-right: 5px;
    /* border-right: solid 1px gray;
    padding-right: 8px; */
}

.render-tomorrow .flex-outer-container {
    margin: 8px;
    width: 18em;
}

.render-tomorrow .flex-inner-container {
    display: flex;
    margin: 1px;
    /* border-bottom: solid 1px rgb(206, 206, 206);  */
}

.render-tomorrow .values {
    width: 100%;
}

.render-tomorrow .values span:first-child {
    display: inline-block;
    width: 74px;
}

@media screen and (max-width: 600px) {
    .render-tomorrow .values {
        display: flex;
        flex-wrap: wrap;
    }

    .render-tomorrow .flex-outer-container {
        width: 75%;
        margin: 8px;
    }

    .render-tomorrow .values{
        width: 75%;
    }
    
}

@media screen and (max-width: 320px) {
    .render-tomorrow .flex-outer-container {
        width: 90%;
        margin: 8px;
    }

    .render-tomorrow .values {
        width: 100%;
    }

    .render-tomorrow .values span:first-child {
        width: 30%;
    
    }
    .iconsAndData {
        display: flex;
        display: inline-block;
    }
}