.search-container .search-box {
    height: 40px;
    width: 220px;
    background: url("../../images/search-icon.svg") no-repeat scroll 7px 7px;
    padding-left: 40px;
    background-color: white;
    border: solid 1px #d6d6d6;
    box-shadow: 0px 1px 0px 0px #ccc;
    border-radius: 3px;
    margin-right: 3px;
}

.search-container .dropdown-container {
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-container .dropdown-list {
    background-color: white;
    border: solid 1px gray;
    border-radius: 3px;
}

.search-container .dropdown-list:empty {
    border: none;
}

.search-container .dropdown-list-item {
    padding-left: 5px;
}

.search-container .dropdown-list-item:hover {
    background-color: #daeeff;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .search-container .search-box {
        width: 100%;
        margin-bottom: 5px;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}