.search-container .search-box {
    height: 40px;
    width: 220px;
    background: url("../../images/search-icon.svg") no-repeat scroll 7px 7px;
    padding-left: 40px;
    background-color: white;
    border: solid 1px black;
    border-radius: 3px;
    margin-right: 3px;
}

.search-container .dropdown-list {
    background-color: white;
    border: solid 1px gray;
    border-radius: 3px;
}

.search-container .dropdown-list:empty {
    border: none;
}

.search-container .dropdown-list-item {
    padding-left: 5px;
}

.search-container .dropdown-list-item:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .search-container .search-box {
        width: 200px;
    }
}