.options {
    display: flex;
    margin-top: 5px;
}

.options-wrap {
    background-color: #fafaff;
}

.options-wrap .options-navbar {
    border-bottom: solid 1px rgb(163, 163, 163);
    padding: 10px 16px;
    position: sticky;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.options-wrap h1 {
    margin-right: 10px;
}

.options-wrap .select-location {
    margin-right: 5px;
}

.options-wrap .select-interval {
    display: flex;
    height: 90%;
}

@media screen and (max-width: 700px) {
    .options-wrap h1 {
        font-size: 1.2rem;
    }
}